<!DOCTYPE html>
<html lang="en">
<head>

  <title>Página de PEF</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./src/css/estilo.css" />
  <link rel="stylesheet" href="./src/css/jq.css" />
  <link rel="stylesheet" href="./src/css/notas.css" />
  <script src="./src/js/buscador-notas.js"></script>


  <style>

  </style>
</head>
<body id="myPage" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div id="menu" class="container">
    <div id="links">
        <a class="dp btn dropBut" href="{% url 'home' %}">Home</a>
        <div class="dropagem">
          <a id="resumosBut" class="dp btn dropBut">Educação</a>
          <div id="listaResumos" class="dp droplist" >
              <a href="{% url 'lorem1' %}">Conceitos</a>
              <a href="{% url 'lorem1' %}">Estruturas 2D</a>
              <a href="{% url 'lorem1' %}">Estruturas 3D </a>
            </div>
          </div>
          <div class="dropagem">
          <a id="educacaoBut" class=" btn dropBut" href="{% url 'pratique' %}">Pratique</a>
          </div>
        <a href="#" class="dp btn dropBut">Modelo Interativo</a>
      </div>
  </div>
</nav>

<div id="title1" class="jumbotron text-center">
</div>

  <div class = "notas">

    <div class="form-group pull-right">
        <input type="text" class="search form-control" id="digitacao" placeholder="Digite seu número USP">
    </div>
    <span class="counter pull-right"></span>


    <table class="table table-hover table-bordered results" id="tabela-cor">
      
      <thead>
        <tr>
          <th class="col-md-2 col-xs-3">Número USP</th>
          <th class="col-md-5 col-xs-3">Nome</th>
          <th class="col-md-5 col-xs-3">Curso</th>
          <th class="col-md-3 col-xs-3">P1</th>
          <th class="col-md-3 col-xs-3">P2</th>
          <th class="col-md-3 col-xs-3">Média</th>
        </tr>
        <tr class="warning no-result">
          <td colspan="4"><i class="fa fa-warning"></i> No result</td>
        </tr>
      </thead>

      <tbody id="busca">
        <tr for (aluno in data.alunos)>
          <td class="numeroUSP">${aluno.nUSP}</td>
          <td>${aluno.nome}</td>
          <td>${aluno.curso}</td>
          <td>${aluno.p1}</td>
          <td>${aluno.p2}</td>
          <td>${(aluno.p1+aluno.p2)/2}</td>
        </tr>
      </tbody>
    </table>

  </div>

    <footer id="direitos">
      <strong>Todos os direitos Reservados Grupo de PEF</strong>
    </footer>



</body>
</html>
