<!DOCTYPE html>

<html lang="en">
<head>

  <title>Página de PEF</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./src/css/estilo.css" />
  <script src="homeScript.js"></script> 
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
  <style>

  </style>
</head>
<body id="myPage" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div id="menu" class="container">
    <div id="links">

      <a class="dp btn dropBut" >Home</a>
        <div class="dropagem">
          <a id="resumosBut" class="dp btn dropBut" href="http://pef3100-com.umbler.net/educacao" >Educação</a>
          <div id="listaResumos" class="dp droplist" >
              <a href="">Conceitos</a>
              <a href="">Estruturas 2D</a>
              <a href="">Estruturas 3D </a>
            </div>
          </div>
          <div class="dropagem">
          <a id="educacaoBut" class=" btn dropBut" href="http://pef3100-com.umbler.net/pratique" >Pratique</a>
          </div>
        <a href="http://pef3100-com.umbler.net/" class="dp btn dropBut" >Modelo Interativo</a>
        <a href="http://pef3100-com.umbler.net/notas" class="dp btn dropBut">Notas</a>

      </div>
  </div>
</nav>

<div id="title1" class="jumbotron text-center">
  <h3>Exercícios</h3>
  <p>Alguns exercícios resolvidos</p>
</div>


<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Exercícios de aplicação</h2><br>
      <div id="panel4" class="col-sm-4 meupanel">
        <div id="tituloPanel4" class="panel-heading">Exercício 1</div>
        <div  class="panel-body">
        Determinar as reações de apoio e os diagramas de esforços solicitantes de uma barra de5 metros, engastada na extremidade esquerda, com um esforço ativo para cima de 120 kN à
        3 metros à direita do engaste e outra força vertical para baixo na extremidade direita da barra.
        </div>
      </div>
      <h4 style="text-align: justify;">
            O primeiro passo para a resolução do exercício é desenhar o diagrama de corpo livre, identificando os vínculos da estrutura. Neste caso, como temos um engaste, os esforços
            reativos que aparecem são: uma força vertical \( \vec H_b\), uma força horizontal \( \vec H_a\) e um momento \( \vec M_a\).<br>
            <img class="imagem-pratique img-thumbnail" src="./src/imagens/imagem12.png" style="margin-left: 35%;"/><br>
            A partir do DCL, aplica-se as equações da estática para determinar as reações de apoio:<br>
            \( \sum \vec F_x = 0 \Rightarrow \vec H_a = 0\)<br>
            \( \sum \vec F_y = 0 \Rightarrow \vec H_b + 120 - 50 = 0 \Rightarrow \vec H_b = -70 kN\)<br>
            \( \sum \vec M_{a} = 0 \Rightarrow + \vec M_a + 120*3 - 50*5  = 0 \Rightarrow \vec M_a = -110 kN \)<br>
            Em seguida, é necessário realizar os cortes:<br>
            <img class="imagem-pratique img-thumbnail" src="./src/imagens/imagem13.png" style=" margin-bottom: 2%; display:relative; float:left;"/>
            <img class="imagem-pratique img-thumbnail" src="./src/imagens/imagem14.png" style="margin-left:25%; margin-bottom: 3%; display:relative; float:rigth;"/><br >
             Desta forma, analisa-se cada corte separadamente e aplica-se as equações de equilíbrio. Determinando, dessa forma, os esforços solicitantes das estrutura. Nota-se que
             caso as reações de apoio estejam erradas os correspondentes esforços também estarão.
             <br>
             <i><u>Corte c1:</u></i><br>
                \( \sum \vec F_x = 0 \Rightarrow \vec N = 0\)<br>
                \( \sum \vec F_y = 0 \Rightarrow \vec H_b - \vec V = 0 \Rightarrow \vec V = -70 kN \)<br>
                \( \sum \vec M_{c1} = 0 \Rightarrow - \vec H_b * x + \vec M_a + \vec M  = 0 \Rightarrow \vec M = -70*x + 110 kN \)<br>
            <img class="imagem-pratique img-thumbnail" src="./src/imagens/imagem15.png" style="margin-left:40%; margin-bottom: 3%; margin-top: 1%; display:relative; float:rigth;"/><br>
            <i><u>Corte c2:</u></i><br>
                \( \sum \vec F_x = 0 \Rightarrow \vec N = 0 \)<br>
                \( \sum \vec F_y = 0 \Rightarrow \vec V - 50 \Rightarrow \vec V = 50 kN\)<br>
                \( \sum \vec M_{c2} = 0 \Rightarrow - \vec M - \vec 50*x_2 = 0 \Rightarrow \vec M = -50*x kN \)<br>
            <br>
            <i><u>Diagrama dos esforços solicitantes:</u></i><br>
            <img class="imagem-pratique img-thumbnail" src="./src/imagens/imagem16.png" style="margin-left:35%; display:relative; float:rigth;"/><br>

      </h4><br>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
   <div class="row">
    <div class="col-sm-12 text-center">
      <div id="panel4" class="col-sm-4 meupanel">
        <div id="tituloPanel4" class="panel-heading">Exercício 2</div>
        <div  class="panel-body">
            No seguinte exercício, temos barras reticuladas em uma estrutura tridimensional, carregada com esforços ativos concentrados.<br>
           <img class="imagem img-thumbnail" src="./src/imagens/imagem17.png" style="width: 30%;"/><br>

        </div>
      </div>
      <h4 style="text-align: justify;">
            O primeiro passo, assim como em estruturas bidimensionais, é desenhar o diagrama de corpo livre da estrutura, para determinar as reações de apoio.
            Vale ressaltar que em mais dimensões o número de equações aumentou.<br>
            <img class="imagem" src="./src/imagens/imagem18.png" style="margin-left:35%; width: 30%;"/><br>
              \( \sum \vec F_x = 0 \Rightarrow \vec X_a - 2 * \vec P = 0 \Rightarrow \vec X_a = 2\vec P \quad kN\)<br>
              \( \sum \vec F_y = 0 \Rightarrow \vec Y_a  = 0 kN\)<br>
              \( \sum \vec F_z = 0 \Rightarrow \vec Z_a - \vec P - \vec P \Rightarrow \vec V = 2\vec P \quad kN\)<br>
              \( \sum \vec M_{x} = 0 \Rightarrow  \vec M_{xa} - a * \vec P = 0 \Rightarrow \vec M_{xa} = a\vec P \quad kN \)<br>
              \( \sum \vec M_{y} = 0 \Rightarrow  \vec M_{ya} - 6a * \vec P = 0 \Rightarrow \vec M_{ya} = 6a \vec P \quad kN \)<br>
              \( \sum \vec M_{z} = 0 \Rightarrow  \vec M_{za} + 2a * \vec P = 0 \Rightarrow \vec M_{za} = -2a \vec P \quad kN \)<br>
              Em seguida, devem ser feitos os seguintes cortes:<br>
            <img class="imagem img-thumbnail" src="./src/imagens/imagem19.png" style="margin-left:35%; width: 30%; margin-bottom: 2%;"/><br>
            <img class="imagem img-thumbnail" src="./src/imagens/imagem20.png" style="margin-left:35%; width: 30%;"/><br>
             <i><u>Corte c1:</u></i><br>
                \( \sum \vec F_x = 0 \Rightarrow \vec X_a - \vec V_x = 0 \Rightarrow \vec V_x = 2\vec P\)<br>
                \( \sum \vec F_y = 0 \Rightarrow \vec Y_a + \vec V_y = 0 \Rightarrow \vec V_y = 0 kN \)<br>
                \( \sum \vec F_z = 0 \Rightarrow \vec Z_a + \vec N \Rightarrow \vec N = -2\vec P \quad kN\)<br>
                \( \sum \vec M_{xA} = 0 \Rightarrow  \vec M_{xa} +  \vec M_x + \vec V_y*z1 = 0 \Rightarrow \vec M_{x} = a\vec P \quad kN \)<br>
                \( \sum \vec M_{yA} = 0 \Rightarrow  \vec M_{ya} + \vec M_{y} - z_1 * \vec V_x = 0 \Rightarrow \vec M_{y} = 2z_1\vec P - 6a\vec P \quad kN \)<br>
                \( \sum \vec M_{zA} = 0 \Rightarrow  \vec M_{za} + \vec T = 0 \Rightarrow \vec T = 2a\vec P \quad kN \)<br>
            <img class="imagem img-thumbnail" src="./src/imagens/imagem21.png" style="margin-left:35%; width: 30%;"/><br>
              <i><u>Corte c2:</u></i><br>
                \( \sum \vec F_x = 0 \Rightarrow -\vec V_x - 2\vec P = 0 \Rightarrow \vec V_x = -2\vec P\)<br>
                \( \sum \vec F_y = 0 \Rightarrow \vec N = 0 \Rightarrow \vec N = 0 kN \)<br>
                \( \sum \vec F_z = 0 \Rightarrow \vec V_z - \vec P \Rightarrow \vec V_z = \vec P \quad kN\)<br>
                \( \sum \vec M_{xc2} = 0 \Rightarrow  \vec M_{x} - y\vec P = 0 \Rightarrow \vec M_{x} = y\vec P \quad kN \)<br>
                \( \sum \vec M_{yc2} = 0 \Rightarrow  \vec T = 0 \quad kN \)<br>
                \( \sum \vec M_{zc2} = 0 \Rightarrow  \vec M_{z} + 2y\vec P = 0 \Rightarrow \vec M_z = -2y\vec P \quad kN \)<br>
            <img class="imagem img-thumbnail" src="./src/imagens/imagem22.png" style="margin-left:35%; width: 30%;"/><br>
            <img class="imagem img-thumbnail" src="./src/imagens/imagem23.png" style="margin-left:35%; width: 30%;"/><br>



      </h4><br>
    </div>
  </div>
</div>


  <div id="direitos">
    <strong>Disciplina PEF3100</strong>
  </div>

</body>
</html>